<div class="control-group">
  <label for="name" class="control-label">name</label>
  <div class="controls">
    <%- contentTag('input', group.name, {type:'text', class:'span6', name:'name'}) %>
    <%- selectTag(challenges,group.challengeId,{name:"challengeId",textField:'name',valueField:'id'}) %>
  </div>
</div>
