<div class="control-group">
  <label for="name" class="control-label">name</label>
  <div class="controls">
    <%- contentTag('input', challenge.name, {type:'text', class:'span6', name:'name'}) %>
    <%- contentTag('input', challenge.start, {type:'date', class:'span6', name:'start'}) %>
    <%- contentTag('input', challenge.end, {type:'date', class:'span6', name:'end'}) %>
  </div>
</div>
